.pageLayout {
    position: relative;
    display: grid;
    grid-template-columns: 20px 400px 1px auto;
    grid-template-rows: 30px auto 210px 20px;
    min-height: 100%;
    grid-template-areas:
        'header header header header'
        'sidebarToggle sidebar sidebarEvent body'
        'sidebarToggle sidebar sidebarEvent footer'
        'sidebarToggle sidebar sidebarEvent footerToggle';
}

.header {
    grid-area: header;
}

.body {
    position: relative;
    grid-area: body;
    overflow: auto;
}

.footer {
    position: relative;
    grid-area: footer;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #ccc;
    padding-top: 25px;
}

.sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebarEvent {
    grid-area: sidebarEvent;
    min-height: 100%;
    background-color: #ccc;
}

.footerEvent {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    cursor: row-resize;
}

.sidebarToggle {
    grid-area: sidebarToggle;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    height: 100%;
    width: 20px;
    border-right: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
}

.footerToggle {
    grid-area: footerToggle;
    display: flex;
    box-sizing: border-box;
    height: 20px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    font-size: 14px;
}

.iconArrow {
    color: var(--color-brand);
    font-size: 14px;
}
