.checkboxWrap {
    position: relative;
    height: 18px;
    margin-bottom: 5px;
}

.label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    .input:checked + .icon:before {
        background: #ff8412;
    }
}

.input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    background: #f6f6f6;
    border: 1px solid #cdcdcd;
    height: 14px;
    position: relative;
    width: 14px;

    &:before {
        content: "";
        bottom: 0;
        height: 10px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 10px;
    }
}

.span {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 20px);
    height: 14px;
    white-space: normal;
    font-size: 14px;
    line-height: 1;
    margin-left: 5px;
}

.radio {
    border-radius: 100%;

    &:before {
        border-radius: 100%;
    }
}
