.inputWrapper {
    position: relative;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.inputWrapperFocus {
    border-color: #ff8326;
}

.input {
    position: relative;
    width: 100%;
    height: 35px;
    background: #fff;
    border-radius: 2px;
    outline: none;
    padding: 8px 10px;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
}

.inputEasy {
    border: 1px solid #ccc;

    &:focus {
        border-color: #ff8326;
    }
}
