.wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    max-width: 550px;
}

.buttonsBlock {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 32px;
    font-size: 14px;

    &:hover {
        background-color: #f8f8f8;
    }
}

.iconClose {
    color: #ff7800;
}

.iconArrow {
    color: #ff7800;
    font-size: 8px;
}
