@font-face {
    font-family: 'Turbocontract';
    src: url('../fonts/turbocontract/turbocontract.eot');
    src: url("../fonts/turbocontract/turbocontract.eot?#iefix'")
            format('embedded-opentype'),
        url('../fonts/turbocontract/turbocontract.woff') format('woff'),
        url('../fonts/turbocontract/turbocontract.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
