:root {
    /* colors*/
    --bg-color-brand: #0262ae;
    --color-brand: #0262ae;

    /* buttons color */
    --bg-button-brand: #0262ae;
    --bg-button-brand-disabled: #ccc;
    --bg-button-brand-hover: #097fd1;
    --color-button-brand: #fff;
    --bg-button-cancel: #fff;
    --color-button-cancel: #0262ae;
    --bg-button-secondary: #ff7800;

    /* fonts */
    --font-default: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 0;
    min-width: 320px;
    position: relative;
    font-family: var(--font-default);
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    background-color: #fff;
    color: #222427;
    margin: 0;
}

label {
    margin-bottom: 0;
}

::-webkit-input-placeholder {
    color: #5f5f5f;
}

::-moz-placeholder {
    color: #5f5f5f;
}

:-ms-input-placeholder {
    color: #5f5f5f;
}

.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 100%;
    bottom: 0;
    right: -10px;
    background-position: bottom right;
    padding: 0 3px 3px 0;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: ew-resize;
}

.container {
    box-sizing: border-box;
    margin: 60px auto 60px;
    max-width: 1182px;
    padding: 20px;
    position: relative;
    width: 1182px;
}

#portalModal {
    position: relative;
}

.modal-portal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7002;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    height: 100vh;
    left: 0;
    outline: none;
    padding: 15px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    scrollbar-color: #0a71b9 rgba(0, 0, 0, 0.05);

    &::before {
        content: '';
        float: right;
        height: 100%;
        margin: -15px 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 15px 0;
    }
}

.font-icon {
    text-transform: none;
    font-family: 'Turbocontract';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-icon {
    &.striked {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(-136deg);
            box-shadow: 0px 0px 20px 2px #000;
        }
    }

    &.square::before {
        content: '';
        width: 10px;
        height: 10px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid;
    }

    &.facebook::before {
        content: '\E001';
    }

    &.twitter::before {
        content: '\E002';
    }

    &.vk::before {
        content: '\E003';
    }

    &.phone::before {
        content: '\E004';
    }

    &.question-circle::before {
        content: '\E005';
    }

    &.share::before {
        content: '\E006';
    }

    &.mail::before {
        content: '\E007';
    }

    &.pencil::before {
        content: '\E008';
    }

    &.file::before {
        content: '\E009';
    }

    &.files::before {
        content: '\E00A';
    }

    &.circle-plus::before {
        content: '\E00B';
    }

    &.circle-close::before {
        content: '\E00C';
    }

    &.folder::before {
        content: '\E00D';
    }

    &.zoom::before {
        content: '\E00E';
    }

    &.cancel::before {
        content: '\E00F';
    }

    &.lock::before {
        content: '\E010';
    }

    &.eye::before {
        content: '\E011';
    }

    &.strike-eye::before {
        content: '\E012';
    }

    &.user::before {
        content: '\E013';
    }

    &.bell::before {
        content: '\E014';
    }

    &.users::before {
        content: '\E015';
    }

    &.pdf::before {
        content: '\E016';
    }

    &.time::before {
        content: '\E017';
    }

    &.word::before {
        content: '\E018';
    }

    &.icon-message::before {
        content: '\E019';
    }

    &.icon-chat::before {
        content: '\E01A';
    }

    &.enter-arrow::before {
        content: '\E01B';
    }

    &.home::before {
        content: '\E01C';
    }

    &.coins::before {
        content: '\E01D';
    }

    &.settings::before {
        content: '\E01E';
    }

    &.nav-panel::before {
        content: '\E01F';
    }

    &.bell-circuit::before {
        content: '\E020';
    }

    &.warning::before {
        content: '\E021';
    }

    &.ball::before {
        content: '\E022';
    }

    &.case::before {
        content: '\E023';
    }

    &.exit::before {
        content: '\E024';
    }

    &.chain::before {
        content: '\E025';
    }

    &.key::before {
        content: '\E026';
    }

    &.success::before {
        content: '\E027';
    }

    &.icon-requisites::before {
        content: '\E028';
    }

    &.download-doc::before {
        content: '\E029';
    }

    &.add-doc::before {
        content: '\E02A';
    }

    &.add-user::before {
        content: '\E02B';
    }

    &.repeat-doc::before {
        content: '\E02C';
    }

    &.star-doc::before {
        content: '\E02D';
    }

    &.settings-doc::before {
        content: '\E02E';
    }

    &.archive::before {
        content: '\E02F';
    }

    &.hands::before {
        content: '\E030';
    }

    &.icon-date::before {
        content: '\E031';
    }

    &.icon-menu::before {
        content: '\E032';
    }

    &.icon-city::before {
        content: '\E033';
    }

    &.icon-num::before {
        content: '\E034';
    }

    &.icon-print::before {
        content: '\E035';
    }

    &.icon-font::before {
        content: '\E036';
    }

    &.icon-trash::before {
        content: '\E037';
    }

    &.tools::before {
        content: '\E038';
    }

    &.icon-copy::before {
        content: '\E039';
    }

    &.icon-registry::before {
        content: '\E03A';
    }

    &.youtube::before {
        content: '\E03B';
    }

    &.icon-box::before {
        content: '\E03C';
    }

    &.icon-cloud::before {
        content: '\E03D';
    }

    &.v-file::before {
        content: '\E03E';
    }

    &.icon-text-left::before {
        content: '\E03F';
    }

    &.icon-text-center::before {
        content: '\E040';
    }

    &.icon-text-right::before {
        content: '\E041';
    }

    &.icon-text-justify::before {
        content: '\E042';
    }

    &.icon-text-indent-left::before {
        content: '\E043';
    }

    &.icon-text-indent-right::before {
        content: '\E044';
    }

    &.circle-minus::before {
        content: '\E045';
    }

    &.closed-folder::before {
        content: '\E046';
    }

    &.success-doc::before {
        content: '\E047';
    }

    &.icon-upload-file::before {
        content: '\E048';
    }

    &.icon-attachment-file::before {
        content: '\E049';
    }

    &.icon-picture::before {
        content: '\E04A';
    }

    &.icon-doc-crown::before {
        content: '\E04B';
    }

    &.icon-clip::before {
        content: '\E04C';
    }

    &.arrow-down::before {
        font-family: 'Fira sans Medium';
        content: '↓';
    }

    &.arrow-up::before {
        font-family: 'Fira sans Medium';
        content: '↑';
    }

    &.icon-arrow-top::before {
        content: '\E04D';
    }

    &.icon-arrow-right::before {
        content: '\E04E';
    }

    &.icon-arrow-bottom::before {
        content: '\E04F';
    }

    &.icon-arrow-left::before {
        content: '\E050';
    }

    &.icon-number::before {
        content: '\E051';
    }

    &.icon-tick::before {
        content: '\E052';
    }

    &.arrow-move::before {
        content: '\E053';
    }

    &.numeric-item::before {
        content: '\E054';
    }

    &.icon-update::before {
        content: '\E055';
    }

    &.icon-settings-filled::before {
        content: '\E056';
    }

    &.drop-down-arrow::before {
        content: '\E057';
    }

    &.contents-list::before {
        content: '\E058';
    }

    &.page-break::before {
        content: '\E059';
    }

    &.single-value::before {
        content: '\E05A';
    }

    &.multi-values::before {
        content: '\E05B';
    }

    &.save::before {
        content: '\E05C';
    }

    &.action::before {
        content: '\E05D';
    }

    &.share-out::before {
        content: '\E05E';
    }

    &.list-settings::before {
        content: '\E05F';
    }

    &.fragment::before {
        content: '\E060';
    }

    &.link::before {
        content: '\E061';
    }

    &.icon-parameter::before {
        content: '\E062';
    }

    &.icon-structure::before {
        content: '\E063';
    }

    &.contents-list__new::before {
        content: '\E064';
    }

    &.template-icon::before {
        content: '\E065';
    }

    &.save-folder::before {
        content: '\E066';
    }

    &.records-icon::before {
        content: '\E067';
    }

    &.required-icon::before {
        content: '\E068';
    }

    &.required-full-icon::before {
        content: '\E069';
    }

    &.close-icon::before {
        content: '\E06A';
    }

    &.fail-icon::before {
        content: '\E06B';
    }

    &.filter-icon::before {
        content: '\E06C';
    }

    &.filter-icon-selected::before {
        content: '\E06D';
    }

    &.xls-icon::before {
        content: '\E06E';
    }

    &.visa::before {
        content: '\E06F';
    }

    &.time-icon::before {
        content: '\E070';
    }

    &.position-icon::before {
        content: '\E071';
    }

    &.role-icon::before {
        content: '\E072';
    }

    &.sort-icon::before {
        content: '\E073';
    }

    &.break-current-page::before {
        content: '\E074';
    }

    &.break-next-page::before {
        content: '\E075';
    }

    &.lite-arrow-up::before {
        content: '\E076';
    }

    &.lite-arrow-down::before {
        content: '\E077';
    }

    &.lite-arrow-right::before {
        content: '\E078';
    }

    &.lite-arrow-left::before {
        content: '\E079';
    }

    &.goal::before {
        content: '\E07A';
    }

    &.subscribe::before {
        content: '\E07B';
    }

    &.unsubscribe::before {
        content: '\E07C';
    }

    &.fixation::before {
        content: '\E07D';
    }

    &.square-empty::before {
        content: '\E07E';
    }

    &.circle-filled::before {
        content: '\E07F';
    }

    &.more::before {
        content: '\E080';
    }

    &.circle-empty::before {
        content: '\E081';
    }

    &.circle-tick::before {
        content: '\E082';
    }

    &.circle-more::before {
        content: '\E083';
    }

    &.circle-uncompleted::before {
        content: '\E084';
    }

    &.circle-notcompleted::before {
        content: '\E085';
    }

    &.circle-emptycompleted::before {
        content: '\E086';
    }

    &.add-employee::before {
        content: '\E087';
    }

    &.employee::before {
        content: '\E088';
    }

    &.personal-data::before {
        content: '\E089';
    }

    &.flag-finish::before {
        content: '\E08A';
    }

    &.flag-start::before {
        content: '\E08B';
    }

    &.smart-toy::before {
        content: '\E08C';
    }

    &.filter-remove::before {
        content: '\E08D';
    }

    &.file-code::before {
        content: '\E08E';
    }

    &.annex-add::before {
        content: '\E08F';
    }

    &.annex-file-add::before {
        content: '\E090';
    }

    &.history-doc::before {
        content: '\E091';
    }

    &.letter::before {
        content: attr(data-letter);
        font-weight: 700;
        line-height: 0;
        font-size: 22px;
        font-family: 'Times New Roman', serif;
    }
}

.turbo-button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-radius: 3px;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: normal;
    -webkit-user-drag: none;
    box-sizing: border-box;
    background-color: transparent;
    transition: 125ms all ease-in-out;
    outline: none;
}
