.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: 0.2s linear 0s 1 normal none running toVisible; */
    z-index: 7002;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    font-family: var(--font-default);
    font-weight: 400;
    height: 100vh;
    left: 0;
    outline: none;
    padding: 15px 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;
    scrollbar-color: #0a71b9 rgba(0, 0, 0, 0.05);

    &::before {
        content: "";
        float: right;
        height: 100%;
        margin: -15px 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 15px 0;
    }
}

.modalCard {
    font-family: var(--font-default);
    font-weight: 400;
    border-radius: 3px;
    box-shadow: 0 0 25px -10px;
    box-sizing: border-box;
    display: inline-block;
    max-height: 100%;
    max-width: 99%;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 600px;
}

.header {
    background-color: #0664af;
    color: #fff;
    font-size: 18px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
}

.modalCancel {
    background: none;
    box-sizing: initial;
    color: #d9d9d9;
    cursor: pointer;
    font-size: 14px;
    height: 14px;
    outline: none;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
    bottom: 0;
    margin: auto;
}

.modalBody {
    max-height: 300px;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%;
    background-color: #fff;
    scrollbar-color: #0a71b9 rgba(0, 0, 0, 0.05);
}

.modalFooter {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 55px 80px;
    background-color: #f5f5f5;
    border-top: 1px solid #e7e8ec;
    font-family: var(--font-default);
    font-weight: 400;
    min-height: 65px;
    align-items: center;
    column-gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.modaleWrapper {
    position: relative;
    z-index: 10000;
}

.cancelButton {
    color: var(--color-button-cancel);
    background-color: var(--bg-button-cancel);
    width: 55px;
    height: 20px;
    border-bottom: 1px dashed;
    font-size: 15px;
}

.footerRightButton {
    width: 80px;
    height: 34px;
}
