.block {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 62px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    max-height: 259px;
    overflow: auto;
    scrollbar-color: #0a71b9 rgba(0, 0, 0, 0.05);
}

.sideTop {
    position: absolute;
    z-index: 8100;

    &:before {
        border: 6px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        border-bottom: 6px solid #d7d7d7;
        top: -12px;
    }

    &:after {
        border: 6px solid transparent;
        content: "";
        height: 0;
        position: absolute;
        width: 0;
        border-bottom-color: #fff;
        top: -11px;
    }
}

.listItem + .listItem {
    border-top: 1px solid #d7d7d7;
}

.listItem {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 37px;
    padding: 0 10px;
    font-size: 13px;
    line-height: normal;
    cursor: pointer;

    &:hover {
        background-color: #e8e8e8;
    }
}

.orange {
    color: #ff7800;
}
