.baseLayout {
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
        'header'
        'body'
        'footer';

    @media (min-width: 800px) {
        grid-template-columns: auto minmax(320px, 1fr) auto;
        grid-template-areas:
            'header header header'
            '. body .'
            'footer footer footer';
    }
}

.header {
    grid-area: header;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}
